html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing:border-box;
    max-width:100%;
    /* border:1px solid grey; */
}
/*General Styles!*/
html{
    font-size:62.5%;
}

h1{
    font-size: 10rem;
}

h2{
    font-size: 5rem;
}

h1, h2{
    font-family:'Grenze Gotisch', cursive;
    padding: 0 5%;
    margin: 2% auto;
    
}

body{
    font-family:'Patrick Hand', cursive;
    font-size: 3.5rem;
    height: 2;
    color: #4f4f4f;
    background-color: #f5fffa;
}


section{
    padding: 4% 0;
    
}
div{
    width:40%;
    
}
/*Header Customized*/

header{
background-color:#00ffff ;
padding: 1%;

}
/*nav section styling*/

nav{
    display: flex;
}

nav a{
    text-decoration: none;
    margin: 0 5%;
    padding: 0 1%;
    font-weight: bolder;
    color:#191970;
    background-color:#00ff00;
    border-radius: 10%;
    box-shadow: 0 9px #999;
}

.main a{
    text-align: center;
    margin: 0 30%;
}
/* the Main section*/

.aboutMe{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Gallery sect*/

.gallery{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.play{
    height: 40vh;
    background-image: url(/pict/PS\ \(2\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.aboutMe{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button{
    
    text-decoration: none;
    text-align: center;
    background-color:#00ff00;
    color:#191970;
    box-shadow: 0 9px #999;
}
.aboutMe p{
    margin: 2% auto;
    text-align: center;
}


/*Footer*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin:0 auto ;
}


.websites{
    display: flex;
}

.fa {
    padding: 0 2rem;
    font-size: 3rem;
    width: 50%;
    text-align: center;
    text-decoration: none;
    margin: 5% 2%;
    box-shadow: 0 9px #999;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

.fa-yahoo {
    background: #430297;
    color: white;
  }

  .fa-snapchat-ghost  {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-github{
      background: #4f4f4f;
  }

 button, nav .nav a, .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);